kind: Namespace
apiVersion: v1
metadata:
  name: karavi
---
# Grant OPA/kube-mgmt read-only access to resources. This lets kube-mgmt
# list configmaps to be loaded into OPA as policies.
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: opa-viewer
roleRef:
  kind: ClusterRole
  name: view
  apiGroup: rbac.authorization.k8s.io
subjects:
- kind: Group
  name: system:serviceaccounts:karavi
  apiGroup: rbac.authorization.k8s.io
---
# Define role for OPA/kube-mgmt to update configmaps with policy status.
kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  namespace: karavi
  name: configmap-modifier
rules:
- apiGroups: [""]
  resources: ["configmaps"]
  verbs: ["update", "patch"]
---
# Grant OPA/kube-mgmt role defined above.
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  namespace: karavi
  name: opa-configmap-modifier
roleRef:
  kind: Role
  name: configmap-modifier
  apiGroup: rbac.authorization.k8s.io
subjects:
- kind: Group
  name: system:serviceaccounts:karavi
  apiGroup: rbac.authorization.k8s.io
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: powerflex-reverse-proxy
  namespace: karavi
  labels:
    app: powerflex-reverse-proxy
spec:
  replicas: 1
  selector:
    matchLabels:
      app: powerflex-reverse-proxy
  template:
    metadata:
      labels:
        app: powerflex-reverse-proxy
    spec:
      containers:
      - name: powerflex-reverse-proxy
        image: powerflex-reverse-proxy:v0.0.2
        ports:
        - containerPort: 8080
      - name: opa
        image: docker.io/openpolicyagent/opa
        args:
        - "run"
        - "--ignore=."
        - "--server"
        - "--log-level=debug"
        ports:
        - name: http
          containerPort: 8181
      - name: kube-mgmt
        image: docker.io/openpolicyagent/kube-mgmt:0.11
        args:
        - "--policies=karavi"
        - "--enable-data"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: github-auth-provider
  namespace: karavi
  labels:
    app: github-auth-provider
spec:
  replicas: 1
  selector:
    matchLabels:
      app: github-auth-provider
  template:
    metadata:
      labels:
        app: github-auth-provider
    spec:
      containers:
      - name: github-auth-provider
        image: github-auth-provider:v0.0.2
        ports:
        - containerPort: 50051
          name: grpc
---
apiVersion: apps/v1 
kind: Deployment
metadata:
  name: redis-master
  namespace: karavi
  labels:
    app: redis
spec:
  selector:
    matchLabels:
      app: redis
      role: master
      tier: backend
  replicas: 1
  template:
    metadata:
      labels:
        app: redis
        role: master
        tier: backend
    spec:
      containers:
      - name: master
        image: docker.io/redis:6.0.8-alpine
        resources:
          requests:
            cpu: 100m
            memory: 100Mi
        ports:
        - containerPort: 6379
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis-commander
  namespace: karavi
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redis-commander
  template:
    metadata:
      labels:
        app: redis-commander
        tier: backend
    spec:
      containers:
      - name: redis-commander
        image: docker.io/rediscommander/redis-commander:latest
        env:
        - name: REDIS_HOSTS
          value: "rbac:redis.karavi.svc.cluster.local:6379"
        - name: K8S_SIGTERM
          value: "1"
        ports:
        - name: redis-commander
          containerPort: 8081
        livenessProbe:
          httpGet:
            path: /favicon.png
            port: 8081
          initialDelaySeconds: 10
          timeoutSeconds: 5
        #resources:
        #  limits:
        #    cpu: "500m"
        #    memory: "512M"
        securityContext:
          runAsNonRoot: true
          readOnlyRootFilesystem: false
          allowPrivilegeEscalation: false
          capabilities:
            drop:
              - ALL
---
apiVersion: v1
kind: Service
metadata:
  name: github-auth-provider
  namespace: karavi
spec:
  selector:
    app: github-auth-provider
  ports:
  - port: 50051
    targetPort: 50051
    name: grpc
---
apiVersion: v1
kind: Service
metadata:
  name: powerflex-reverse-proxy
  namespace: karavi
spec:
  selector:
    app: powerflex-reverse-proxy
  ports:
  - name: http
    protocol: TCP
    port: 8080
    targetPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: redis
  namespace: karavi
spec:
  selector:
    app: redis
  ports:
  - protocol: TCP
    port: 6379
    targetPort: 6379
---
apiVersion: v1
kind: Service
metadata:
  name: redis-commander
  namespace: karavi
spec:
  selector:
    app: redis-commander
  ports:
  - protocol: TCP
    port: 8081
    targetPort: 8081
